// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// link reset
%linkreset {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus{
    text-decoration: none;
  }
}

// clearfix
%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// button reset
%buttonreset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

// no wrap
%nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearfix {
  @extend %clearfix;
}

.no-overflow{
  overflow: hidden;
}

.text{

  &--right{
    text-align: right;
  }

  &--left{
    text-align: left;
  }

  &--center{
    text-align: center;
  }

  &--weight{

    &--400{
      font-weight: 400;
    }

    &--500{
      font-weight: 500;
    }

    &--700{
      font-weight: 700;
    }
  }

  &--style{

    &--primary{
      color: $primary;
    }

    &--primaryLighter{
      color: $primaryLighter2;
    }

    &--secondary{
      color: $secondaryDarker2;
    }

    &--accent{
      color: $accent;
    }

    &--facebook{
      color: #3475E4;
    }

    &--linkedIn{
      color: #2F73AC;
    }

    &--instagram{
      color: #C85272;
    }

    &--telegram{
      color: #4B9AD8;
    }

    &--viber{
      color: #8E5EC3;
    }
  }
}
