.btn{
  @extend %buttonreset;
  @extend %linkreset;
  display: inline-flex;
  background-color: $secondary;
  color: $secondaryDarker2;
  vertical-align: middle;
  @include animate(background-color color);

  $this: &;

  &--fluid{
    display: flex;
    width: 100%;
  }

  &--size{

    &--regular,
    &--lg{
      justify-content: center;
      align-items: center;

      #{$this}__icon{
        margin: 0 1.6rem;

        &:last-child{
          margin: 0 0 0 1.6rem;
        }

        &:first-child{
          margin: 0 1.6rem 0 0;
        }

        &:only-child{
          margin: 0;
        }
      }
    }

    &--regular{
      padding: .75em 1em;
      border-radius: 8px;
      min-height: 4.8rem;

      #{$this}__text{
        @include calcLineHeight(1.6rem);
      }
    }

    &--lg{
      padding: .857em;
      min-height: 9.6rem;
      font-size: $fontSize28;
      border-radius: 24px;

      #{$this}__text{
        font-weight: 700;
        @include calcLineHeight($fontSize28);
      }
    }

    &--xl{
      flex-direction: column;
      font-size: $fontSize24;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 1em;
      border-radius: 24px;
      min-height: 14.9rem;

      #{$this}__icon{
        margin: 1.6rem 0;

        &:last-child{
          margin: 1.6rem 0 0 0;
        }

        &:first-child{
          margin: 0 0 1.6rem;
        }

        &:only-child{
          margin: 0;
        }
      }

      #{$this}__text{
        font-weight: 700;
        @include calcLineHeight($fontSize24);
      }
    }
  }

  &--style{

    &--primary{
      background-color: $primary;
      color: $white;

      &:hover{
        background-color: $primaryLighter;
      }

      &:active{
        background-color: $primary;
        color: $primaryLighter;
      }
    }

    &--primary-lighter{
      background-color: $primaryLighter2;
      color: $primary;

      &:hover{
        background-color: $primary;
        color: $primaryLighter2;
      }

      &:active{
        color: $white;
      }
    }

    &--secondary{
      background-color: $secondary;
      color: $black;

      &:hover{
        background-color: $secondaryDarker;
      }

      &:active{
        background-color: $secondaryDarker2;
      }
    }

    &--accent{
      background-color: $accent;
      color: $white;

      &:hover,
      &:active{
        background-color: $accentLighter2;
        color: $accent;
      }
    }
  }

  &:disabled,
  &--style--disabled{
    cursor: default;
    background-color: $secondary;
    color: $secondaryDarker2;
  }
}