.content-tabs{

  $this: &;

  &__head{
    display: flex;
    width: 100%;
    overflow-x: auto;
    margin: 0 0 .8rem;

    @include media(">=lg"){
      margin: 0 0 1.6rem;
    }
  }

  &__btn{
    @extend %buttonreset;
    @extend %nowrap;
    font-size: 1.6rem;
    background-color: $white;
    color: $black;
    padding: 1.2rem 1.6rem;
    border-radius: .8rem;
    margin: 0 .8rem 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include animate(background-color color);

    @include media(">=lg"){
      flex: 1 1 auto;
    }

    &[data-tab-active]{
      background-color: $primary;
      color: $white;
      cursor: default;

      #{$this}__btn-counter{
        color: $primaryLighter2;
      }

      #{$this}__btn-icon{
        color: $white;
      }
    }

    &--new{
      #{$this}__btn-icon{
        color: $primary;
      }
    }

    &:last-child{
      margin: 0;
    }
  }

  &__btn-icon{
    margin: 0 1.6rem 0 0;
    color: $secondaryDarker2;
    @include animate(color);
  }

  &__btn-text{
    white-space: nowrap;
  }

  &__btn-counter{
    color: $secondaryDarker2;
    margin-left: .25em;
    @include animate(color opacity);
  }

  &__content-empty{
    margin: 0 0 .8rem;

    @include media(">=lg"){
      margin: 0 0 1.6rem;
    }
  }

  &__card{
    margin: 0 0 .8rem;

    @include media(">=lg"){
      margin: 0 0 1.6rem;
    }
  }

  &--lg{
    #{$this}__head{
      background-color: $white;
      border-radius: 1.6rem;

      @include media(">=lg"){
        border-radius: 2.4rem;
      }
    }

    #{$this}__btn{
      font-size: $fontSize22;
      @include calcLineHeight($fontSize22);
      position: relative;
      padding: 1.142em;
      color: $primaryLighter;
      font-weight: bold;
      flex-shrink: 0;

      @include media(">=lg"){
        font-size: $fontSize24;
        padding: 1em;
        @include calcLineHeight($fontSize24);
      }

      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-radius: .4rem .4rem 0 0;
        background-color: $primary;
        @include animate(width height color);
      }

      &[data-tab-active]{
        background-color: transparent;
        color: $primary;
        cursor: default;

        &::after{
          width: 3rem;
          height: .4rem;
        }

        #{$this}__btn-counter{
          background-color: $primary;
          color: $white;
        }
      }
    }

    #{$this}__btn-counter{
      font-size: 1.4rem;
      height: 2.25em;
      min-width: 2.25em;
      border-radius: 1rem;
      text-align: center;
      line-height: 1.25;
      background-color: $primaryLighter2;
      color: $white;
      padding: 0.5em;
      margin: 0 0 0 .8rem;
      @include animate(background-color);

      @include media(">=lg"){
        border-radius: 1.2rem;
        font-size: 1.6rem;
        height: 2.75em;
        min-width: 2.75em;
        line-height: 1.75;
      }
    }
  }

  &--sm{

    #{$this}__head{
      margin: 0 0 3.2rem;
      position: relative;

      &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $primaryLighter2;
      }
    }

    #{$this}__btn{
      font-size: 1.6rem;
      line-height: 1.5;
      padding: 0 0 1.6rem;
      color: $primaryLighter;
      background: transparent;
      border-radius: 0;
      margin: 0 1.6rem 0 0;
      position: relative;
      border-bottom: 1px solid transparent;
      z-index: 5;
      @include animate(border-bottom color);

      @include media(">=md"){
        flex: 0 0 auto;
      }

      &[data-tab-active]{
        color: $primary;
        border-bottom: 1px solid $primary;
      }
    }
  }

  &:not(#{$this}--lg):not(#{$this}--sm){
    #{$this}__btn:hover:not([data-tab-active]){
      background-color: $primaryLighter;
      color: $white;

      #{$this}__btn-counter{
        color: $white;
        opacity: .5;
      }

      #{$this}__btn-icon{
        color: $white;
      }
    }
  }
}