.form{

  $this: &;

  &__group{
    margin: 0 0 2.4rem;

    &:last-child{
      margin: 0;
    }

    @include media(">=lg"){
      display: grid;
      grid-gap: 1.6rem;
    }

    &--grid-2{
      @include media(">=lg"){
        grid-template-columns: 1fr 1fr;
      }

      #{$this}__input-row{
        grid-column: 1 / -1;

        &--grid-cell{
          grid-column: auto / span 1;
        }
      }
    }
  }

  &__input-row{
    margin: 0 0 .8rem;

    &:last-child{
      margin: 0;
    }

    @include media(">=lg"){
      margin: 0 0 1.6rem;
    }
  }
}