#modal-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: calc(100vh - 9rem);
  border-radius: 2.4rem 2.4rem 0 0;
  background-color: $white;
  display: flex;
  flex-direction: column;
  transform: translate(0, 110%);
  z-index: 1000;
  @include animate(transform);

  $this: &;

  &.visible{
    transform: translate(0, 0);
  }

  @include media(">=sm"){
    left: auto;
    bottom: auto;
    top: 4rem;
    right: 1.6rem;
    width: 42rem;
    height: calc(100vh - 8rem);
    transform: translate(110%, 0);
    border-radius: 2.4rem;
  }

  @include media(">=md"){
    right: 3rem;
  }

  &__title-controls{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex: 0 1 auto;
    padding: 0 0 1.6rem;
    margin: 2.4rem 2.4rem 0;
    border-bottom: 1px solid $secondary;
  }

  &__btn--close{
    margin-left: auto;
  }

  &__main{
    padding: 2.4rem 2.4rem 0;
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  &__heading{
    margin: 0 0 2.4rem;
  }

  &__sub-heading{
    color: $secondaryDarker2;
    font-size: $fontSize18;
    @include calcLineHeight($fontSize18);
    font-weight: 400;
    margin: 0 0 1.6rem;
  }

  &__body{
    margin: 0 0 2.4rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  &__controls{
    padding-bottom: 2.4rem;
  }

  &__form{
    margin: 0 0 3.2rem;

    &:last-child{
      margin: 0;
    }
  }

  &__policy{
    margin-top: auto;
  }

  &--lg{
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    max-height: none;
    background-color: $secondaryDarker;
    border-radius: 0;
    padding: 0 .8rem;
    @include animate(transform left);

    @include media(">=sm"){
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 0;
      padding: 0 1.6rem;
    }

    @include media(">=md"){
      padding: 0 3rem;
    }

    @include media(">=xl"){
      max-width: 115rem;
      height: calc(100vh - 6rem);
      max-height: 72rem;
      left: 100%;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 2.4rem;
    }

    @include media(">=xxl"){
      padding: 3rem;
    }

    &.visible{
      transform: translateX(0);

      @include media(">=xl"){
        height: calc(100vh - 6rem);
        max-height: 72rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    #{$this}__title-controls{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex: 0 1 auto;
      padding: 3rem 0 .8rem 0;
      margin: 0;
      border-bottom: none;

      @include media(">=xxl"){
        position: absolute;
        left: calc(100% + 1.6rem);
        padding: 0;
        top: 0;
      }

      .btn{
        background-color: $white;
        color: $black;

        &:hover{
          background-color: $primaryLighter;
          color: $white;
        }

        @include media(">=xxl"){
          background-color: rgba($white, .2);
          color: $white;

          &:hover{
            background-color: $white;
            color: $black;
          }
        }
      }

      .icon{
        font-size: 4.8rem;
      }
    }

    #{$this}__main{
      padding: 0;
    }
  }
}