.page-header{
  margin: 2.4rem 0;

  $this: &;

  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo{
    width: 16.2rem;

    @include media(">=md"){
      width: 18.2rem;
    }

    &--fixed{

      @include media(">=lg"){
        position: fixed;
        left: 3rem;
        top: 2.4rem;
        z-index: $logo-z-index;
      }

      @include media(">=xl"){
        // calculating fixed logo LEFT coordinate: (100% - (containerMaxWidth - containerPaddingX * 2)) / 2
        left: calc((100% - (119.4rem - 3rem * 2))/ 2);
      }
    }
  }

  &__controls{
    margin: 0 0 0 auto;
  }

  &__controls-btn{

    &:last-child{
      margin-right: 0;
    }

    &--logout-desk{
      display: none;
    }

    @include media(">=lg"){
      &--logout-mob{
        display: none;
      }

      &--logout-desk{
        display: inline-flex;
      }
    }
  }

  &--landing{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 1.7rem 0;
    z-index: 50;

    #{$this}__controls-btn{
      @include media(">=lg"){
        font-size: 1.8rem;
      }
    }

    #{$this}__logo{
      width: 12rem;

      @include media(">=md"){
        width: 16.8rem;
      }
    }
  }

  &__btn-dropdown .btn-dropdown__btn{
    max-width: 15rem;
  }
}