.page-content{

  &__navbar{
    margin-bottom: 2.4rem;

    @include media(">=lg"){
      margin-bottom: 3.2rem;
    }
  }

  &__profile{
    margin-bottom: 7.2rem;
  }

  &__employer-cabinet{
    margin: 0 0 5rem;
  }
}