.page-footer{

  $this: &;

  &__inner{
    @include media(">=lg"){
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1.6rem;
    }
  }

  &__tagline{
    text-align: center;
    color: $secondaryDarker2;
    margin: 0 0 10rem;

    @include media(">=lg"){
      grid-column: 2 / -1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 0 3.7rem;

      #{$this}__tagline-pre{
        margin: 0 2.4rem 0 0;
      }
    }
  }

  &__tagline-pre{
    font-weight: 700;
    font-size: $fontSize28;
    @include calcLineHeight($fontSize28);
    margin: 0 auto 2.4rem;
  }

  &__tagline-logo{
    width: 16.2rem;
  }

  &__tagline-sources{
    font-weight: normal;
    color: $secondaryDarker2;
    margin: 1rem 0 0;
    font-size: 1.2rem;

    a {
      color: $secondaryDarker2;
    }

    @include media(">=lg"){
      flex: 1 0 100%;
    }
  }

  &--center{
    #{$this}__inner{
      display: block;
    }
  }
}