.steps{

  $this: &;

  &__counter{
    position: absolute;
  }

  &__text{
    font-size: $fontSize18;
    margin: 0 0 2.4rem;
    @include calcLineHeight($fontSize18);

    @include media(">=lg"){
      margin: 0 0 3.2rem;
    }
  }

  &__list{
    @extend %listreset;

    @include media(">=sm"){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__list-item{
    font-size: $fontSize18;
    @include calcLineHeight($fontSize18);
    margin: 0 0 .4rem;
    padding: 0 0 0 2.4rem;
    position: relative;
    opacity: .4;
    cursor: pointer;

    &--completed{
      opacity: 1;
    }
  }

  &__list-icon{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &--sticky{
    display: flex;
    align-items: center;

    #{$this}__text{
      flex-grow: 1;
      padding-right: 3rem;
      font-size: 1.4rem;
      line-height: 1.222;
      margin: 0;

      @include media(">=md"){
        font-size: $fontSize18;
        @include calcLineHeight($fontSize18);
      }
    }

    #{$this}__progress-counter{
      flex-shrink: 0;
      font-size: $fontSize22;
      @include calcLineHeight($fontSize22);

      @include media(">=md"){
        font-size: $fontSize28;
        @include calcLineHeight($fontSize28);
      }
    }
  }
}