.talk-bubbles{
  position: relative;
  z-index: 10;

  &__list{
    @include animate(height padding, 1s);

    &--talkMarker-hidden{
      padding: 0;
    }
  }

  &__item{
    margin: 0 0 .8rem;
    opacity: 0;
    visibility: hidden;
    @include animate(opacity transform, 1s);

    @include media(">=md"){
      margin: 0 0 1.2rem;
    }

    &:last-child{
      margin: 0;
    }

    &--visible{
      opacity: 1;
      visibility: visible;
    }
  }

  &__balloon{
    margin: 0 0 .8rem;

    @include media("<md"){
      font-size: 1.6rem;
      border-radius: 2rem;
    }

    @include media(">=md"){
      margin: 0 0 1.2rem;
    }

    &:last-child{
      margin: 0;
    }
  }

  &__type-marker{
    align-items: center;
    background-color: $primaryLighter3;
    display: inline-flex;
    padding: .5rem;
    border-radius: .8rem;
    position: absolute;
    left: 0;
    bottom: 0;

    @include animate(opacity, .5s);

    &--hidden{
      opacity: 0;
    }
  }

  &__marker-point{
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: $primaryLighter;
    margin: 0 .8rem 0 0;
    font-size: 0;

    &:last-child{
      margin: 0;
    }
  }

  &__link-panel-holder{
    width: 100%;
  }

  @for $i from 1 through 3 {
    &__marker-point:nth-child(#{$i}n) {
      animation: type-animation 2s  #{($i - 1) / 3}s infinite ease;
    }
  }
}

@keyframes type-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.66);
  }
  50% {
    transform: scale(1);
  }
}