.video-counter{
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
  color: $secondaryDarker;

  @include media(">=lg"){
    font-size: 17rem;
  }

  @include media(">=xl"){
    font-size: 22rem;
  }

  &--countdown{
    position: absolute;
    top: 50%;
    left: 50%;
    color: $primary;
    font-weight: 700;
    z-index: 100;
    transform: translate(-50%,-50%);
    font-size: 20rem;
    display: none;
  }
}