.advantages-section{

  &__holder{
    max-width: 60rem;
    margin: 0 auto;

    @include media(">=md"){
      max-width: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0 1.2rem;
      margin: 0 0 10rem;
    }

    @include media(">=1440px"){
      margin: 0 0 12rem;
    }
  }

  &__item{
    margin: 0 0 3rem;

    @include media(">=md"){
      display: grid;
      grid-template-rows: auto 1fr;
      margin: 0;
    }
  }

  &__img{
    display: block;
    height: 53.3vw;
    max-height: 32.8rem;
    margin: 0 auto;

    @include media(">=md"){
      height: auto;
      max-height: none;
      width: 100%;
    }

    &--anim1{
      width: 100%;
      animation: char-change1 infinite 7s;
      background-image: url("../img/landing/005.png");
      background-position: center bottom;
      background-size: contain;
      background-repeat: no-repeat;

      @include media(">=md"){
        padding: 44.75% 0;
      }
    }
  }

  &__text{
    background-color: $white;
    border-radius: 3.2rem;
    padding: 1.6rem;
    text-align: center;

    @include media(">=xl"){
      padding: 3.2rem 3.2rem 2rem;
    }
  }

  &__title{
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0 0 .36em;

    @include media(">=md"){
      font-size: 2rem;
    }

    @include media(">=1440px"){
      font-size: 2.2rem;
    }
  }

  &__desc{
    font-size: 1.8rem;

    @include media(">=md"){
      font-size: 1.6rem;
    }

    @include media(">=1440px"){
      font-size: 1.8rem;
    }
  }
}

@keyframes char-change1 {
  0%{
    background-image: url("../img/landing/005.png");
  }
  21.8%{
    background-image: url("../img/landing/005.png");
  }
  25%{
    background-image: url("../img/landing/005_1.png");
  }
  46.8%{
    background-image: url("../img/landing/005_1.png");
  }
  50%{
    background-image: url("../img/landing/005_2.png");
  }
  71.8%{
    background-image: url("../img/landing/005_2.png");
  }
  75%{
    background-image: url("../img/landing/005_3.png");
  }
  96.8%{
    background-image: url("../img/landing/005_3.png");
  }
  100%{
    background-image: url("../img/landing/005.png");
  }
}

