<div class="profile__banner banner-efficiency">
    <div class="banner-efficiency__inner">
        <div class="banner-efficiency__text">
            <div class="banner-efficiency__title">+30%</div>
            <div class="banner-efficiency__subtitle">эффективность видео резюме</div>
        </div>
        <div class="banner-efficiency__img">
            <img class="banner-efficiency__img-item" src="assets/img/efficiency/01.png" alt="эффективность видео резюме">
        </div>
    </div>
</div><!-- banner -->