<footer class="page-footer page-footer--center">
    <div class="container">
        <div class="page-footer__inner">

            <div class="page-footer__tagline">
                <div class="page-footer__tagline-pre">создано при помощи</div>
                <a class="logo page-footer__tagline-logo" href="#">
                    <img class="logo__img" src="assets/img/logo-grey.svg" alt="Freevac">
                </a>
                <div class="page-footer__tagline-sources">
                    Illustration by
                    <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA" target="_blank">
                        Icons 8
                    </a>
                    from
                    <a href="https://icons8.com/illustrations" target="_blank">
                        Ouch!
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer><!-- page footer -->