<footer class="page-footer-alt">
    <div class="container">
        <div class="page-footer-alt__inner">
            <div class="page-footer-alt__copyrights">© Vividi 2022 </div>
        </div>
        <div class="page-footer__tagline-sources">
            Illustration by
            <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA" target="_blank">
                Icons 8
            </a>
            from
            <a href="https://icons8.com/illustrations" target="_blank">
                Ouch!
            </a>
        </div>
    </div>
</footer><!-- page footer -->