<header class="page-header">
    <div class="container">
        <div class="page-header__inner">

            <a href="#" class="logo page-header__logo">
                <img src="assets/img/logo.svg" alt="Freevac">
            </a>

            <div class="page-header__controls">
                <div class="page-header__btn-dropdown btn-dropdown">
                    <div class="btn btn--size--regular btn--style--white-alt btn-dropdown__btn">
                        <div class="name-balloon">
                            <div class="name-balloon__img name-balloon__img--user"></div>
                            <div class="name-balloon__title">Анатолий Дементиевский</div>
                        </div>
                    </div>
                    <ul class="btn-dropdown__list">
                        <li class="btn-dropdown__item">
                            <a class="btn-dropdown__link" href="#">
                                <i class="icon icon--size--sm icon--user-16 btn-dropdown__icon"></i>
                                <span class="btn-dropdown__text">Профиль</span>
                            </a>
                        </li>
                        <li class="btn-dropdown__item">
                            <a class="btn-dropdown__link" href="#">
                                <i class="icon icon--size--sm icon--exit-16 btn-dropdown__icon"></i>
                                <span class="btn-dropdown__text">Выйти</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header><!--page header logo fixed-->