<header class="page-header page-header--landing">
    <div class="container">
        <div class="page-header__inner">
            <a href="#" class="logo page-header__logo">
                <img class="logo__img" src="assets/img/logo-accent.svg" alt="Vividi">
            </a>

            <div class="page-header__controls">
                <button class="btn btn--size--regular btn--style--secondary btn--style--rounded page-header__controls-btn"
                        data-modal-id="login">
                    <span class="btn__text">Вход</span>
                </button>
                <button class="btn btn--size--regular btn--style--accent btn--style--rounded page-header__controls-btn">
                    <span class="btn__text">Регистрация</span>
                </button>
            </div>

        </div>
    </div>
</header><!--page header landing-->