<header class="page-header">
    <div class="container">
        <div class="page-header__inner">

            <a href="#" class="logo page-header__logo page-header__logo--fixed">
                <img src="assets/img/logo.svg" alt="Freevac">
            </a>

            <div class="page-header__controls">
                <button class="btn btn--size--regular btn--style--primary page-header__controls-btn page-header__controls-btn--logout-mob">
                    <i class="icon icon--size--sm icon--exit-16 btn__icon"></i>
                </button>
                <button class="btn btn--size--regular btn--style--secondary page-header__controls-btn page-header__controls-btn--logout-desk">
                    <span class="btn__text">Выйти</span>
                </button>
            </div>

        </div>
    </div>
</header><!--page header logo fixed-->