<div class="modal" id="user-position">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Должность</div>

        <div class="modal__body">

            <form class="form modal__form" method="post">
                <div class="form__group">
                    <div class="input-row input-row--pointer form__input-row">
                        <div class="input-row__title">Напиши название должности</div>
                        <input class="input-text input-row__input-text" type="text" value="Продуктовый дизайнер" data-complete-input>
                    </div><!-- input row -->
                </div><!-- form group-->
            </form><!-- form -->

            <ul class="action-list profile__action-list" data-complete-group>
                <li class="action-list__item modal-close" role="button" data-complete-bind-input>
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--plus-16"></i>
                    </span>
                    <span class="action-list__text" data-complete-text>
                        Создать "Дизайнер интерьера"
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-complete-btn>
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text" data-complete-text>
                        Дизайнер
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-complete-btn>
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text" data-complete-text>
                        Продуктовый дизайнер
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-complete-btn>
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text" data-complete-text>
                        UX дизайнер
                    </span>
                </li>
            </ul><!-- action-list -->

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user-name modal -->