<div class="modal" id="user-about">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Коротко о себе</div>

        <div class="modal__body">

            <form class="form" method="post" id="about-form" novalidate>
                <div class="form__group">
                    <div class="input-row input-row--pointer form__input-row">
                        <div class="input-row__title">коротко о себе</div>
                        <textarea class="input-text input-text--textarea input-row__input-text" name="description" data-validation>Lorem Ipsum</textarea>
                    </div><!-- input row -->
                </div><!-- form group -->

                <div class="form__footer">
                    <button class="btn btn--style--primary btn--size--regular" data-validation-btn>
                        <span class="btn__text">Сохранить</span>
                    </button>
                </div><!-- form footer-->
            </form><!-- form -->

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user about modal -->