<div class="modal" id="login">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Вход на freevac</div>

        <div class="modal__body">
            <div class="modal__login-bar login-bar">

                <a class="btn btn--fluid btn--style--secondary btn--size--regular login-bar__btn" href="">
                    <img class="btn__img btn__img--size--sm" src="assets/img/socials/google.svg" alt="Google">
                    <span class="btn__text">Google</span>
                </a><!--button-->

                <a class="btn btn--fluid btn--style--secondary btn--size--regular login-bar__btn" href="">
                    <img class="btn__img btn__img--size--sm" src="assets/img/socials/apple.svg" alt="Apple">
                    <span class="btn__text">Apple</span>
                </a><!--button-->

                <a class="btn btn--fluid btn--style--secondary btn--size--regular login-bar__btn" href="">
                    <img class="btn__img btn__img--size--sm" src="assets/img/socials/facebook.svg" alt="Facebook">
                    <span class="btn__text">Facebook</span>
                </a><!--button-->

                <a class="btn btn--fluid btn--style--secondary btn--size--regular login-bar__btn" href="">
                    <img class="btn__img btn__img--size--sm" src="assets/img/socials/linkedin.svg" alt="LinkedIn">
                    <span class="btn__text">LinkedIn</span>
                </a><!--button-->

            </div><!-- login bar -->
        </div><!-- body -->
    </div><!-- main -->

</div><!-- user-name modal -->