<div class="sb-modal" id="user-name">

    <div class="sb-modal__holder">

        <div class="sb-modal__title">
            <div class="sb-modal__title-controls">
                <button class="btn btn--size--regular btn--style--secondary sb-modal__btn--close">
                    <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
                </button>
            </div>
            <div class="sb-modal__heading h2">Имя и фамилия</div>
        </div><!-- title -->

        <div class="sb-modal__main">

            <div class="sb-modal__body">

                <form class="form" method="post">
                    <div class="form__group">
                        <div class="input-row input-row--pointer form__input-row">
                            <div class="input-row__title">Имя</div>
                            <input class="input-text input-row__input-text" type="text">
                        </div><!-- input row -->

                        <div class="input-row input-row--pointer form__input-row">
                            <div class="input-row__title">Фамилия</div>
                            <input class="input-text input-row__input-text" type="text">
                        </div><!-- input row -->
                    </div><!-- form group-->

                    <div class="form__footer">
                        <button class="btn btn--style--primary btn--size--regular" disabled>
                            <span class="btn__text">Сохранить</span>
                        </button>
                    </div><!-- form footer-->
                </form><!-- form -->

            </div><!-- body -->
        </div><!-- main -->
    </div>

</div><!-- user-name modal -->