<div class="modal" id="user-email-edit">

    <div class="modal__holder">

        <div class="modal__title-controls">
            <button class="btn btn--size--regular btn--style--secondary modal-close">
                <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
            </button>
        </div><!-- title -->

        <div class="modal__main">

            <div class="modal__heading h2">Редактирование email</div>

            <div class="modal__body">

                <form class="form" method="post">
                    <div class="form__group">
                        <div class="input-row input-row--pointer form__input-row">
                            <div class="input-row__title">E-mail</div>
                            <input class="input-text input-row__input-text" type="text" value="link.lazarenko@gmail.com">
                        </div><!-- input row -->
                    </div><!-- form group -->

                    <div class="form__footer">
                        <button class="btn btn--style--primary btn--size--regular">
                            <span class="btn__text">Сохранить</span>
                        </button>
                        <button class="btn btn--style--secondary btn--size--regular">
                            <i class="icon icon--size--sm icon--delete-16 btn__icon"></i>
                        </button>
                    </div><!-- form footer-->
                </form><!-- form -->

            </div><!-- body -->
        </div><!-- main -->
    </div>

</div><!-- user-name modal -->