<div class="modal" id="hide-video">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Вы уверены?</div>

        <div class="modal__body">
            <p>Ты точно хочешь скрыть это видео?</p>
        </div><!-- body -->

        <div class="modal__footer">
            <button class="btn btn--style--primary btn--size--regular">
                <span class="btn__text">Скрыть</span>
            </button>
            <button class="btn btn--style--secondary btn--size--regular">
                <span class="btn__text">Отмена</span>
            </button>
        </div><!-- form footer-->
    </div><!-- main -->

</div><!-- user about modal -->