<div class="modal" id="user-contacts-add">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Добавить контакты</div>

        <div class="modal__body">

            <ul class="action-list">
                <li class="action-list__item" role="button" data-modal-id="user-contacts-add-details">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--phone-16"></i>
                    </span>
                    <span class="action-list__text">
                        Телефон
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-contacts-add-details">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--facebook-16 text text--style--facebook"></i>
                    </span>
                    <span class="action-list__text">
                        Facebook
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-contacts-add-details">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--linkedin-16 text text--style--linkedIn"></i>
                    </span>
                    <span class="action-list__text">
                        LinkedIn
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-contacts-add-details">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--telegram-16 text text--style--telegram"></i>
                    </span>
                    <span class="action-list__text">
                        Telegram
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-contacts-add-details">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--instagram-16 text text--style--instagram"></i>
                    </span>
                    <span class="action-list__text">
                        Instagram
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-contacts-add-details">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--viber-16 text text--style--viber"></i>
                    </span>
                    <span class="action-list__text">
                        Viber
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-contacts-add-details">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--mail-16"></i>
                    </span>
                    <span class="action-list__text">
                        Email
                    </span>
                </li>
            </ul><!-- action-list -->

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user-name modal -->