<div class="modal" id="user-activity-field-sub">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
        <button class="btn btn--size--regular btn--style--secondary" data-modal-id="user-activity-field">
            <i class="icon icon--size--sm icon--arrowangleleft-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Сфера деятельности</div>

        <div class="modal__body predicate">

            <div class="input-row input-row--pointer form__input-row">
                <div class="input-row__title">Найти</div>
                <input class="input-text input-row__input-text predicate-input" type="text">
            </div><!-- input row -->

            <ul class="action-list predicate-container">
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        Автобизнес
                    </span>
                </li>
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        Государственные учреждения
                    </span>
                </li>
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        Закупки, снабжение
                    </span>
                </li>
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        Гостиницы, рестораны, кафе
                    </span>
                </li>
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        Административный персонал
                    </span>
                </li>
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        Банки, инвестиции, лизинг
                    </span>
                </li>
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        HR специалист
                    </span>
                </li>
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        IT
                    </span>
                </li>
                <li class="action-list__item predicate-item" role="button">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text predicate-holder">
                        Дизайн, графика, фото
                    </span>
                </li>
            </ul><!-- action-list -->

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user-name modal -->