<div class="modal" id="hr-registration-2">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
        <button class="btn btn--size--regular btn--style--secondary" data-modal-id="hr-registration">
            <i class="icon icon--size--sm icon--arrowangleleft-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Напиши название компании</div>

        <div class="modal__body">

            <div class="modal__text">Для создания вакансий. Потом можно будет изменить</div>

            <form class="form" method="post">
                <div class="form__group">
                    <div class="input-row input-row--pointer form__input-row">
                        <div class="input-row__title">Название компании</div>
                        <input class="input-text input-row__input-text" type="text">
                    </div><!-- input row -->
                </div><!-- form group -->

                <div class="form__footer">
                    <button type="button" class="btn btn--style--primary btn--size--regular" data-modal-id="hr-registration-2">
                        <span class="btn__text">Создать аккаунт</span>
                    </button>
                </div><!-- form footer-->
            </form><!-- form -->

            <div class="policy modal__policy">
                Выбирая способ авторизации, вы соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности</a>
            </div>

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user-name modal -->