<div class="modal" id="user-location">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Где ты живешь</div>

        <div class="modal__body">

            <form class="form" method="post" id="location-form" novalidate>
                <div class="form__group">
                    <div class="input-row input-row--pointer form__input-row">
                        <div class="input-row__title">Навзание населённого пункта</div>
                        <input class="input-text input-row__input-text" type="text">
                    </div><!-- input row -->
                </div><!-- form group-->

                <div class="form__footer">
                    <button class="btn btn--style--primary btn--size--regular" data-validation-btn>
                        <span class="btn__text">Сохранить</span>
                    </button>
                </div><!-- form footer-->
            </form><!-- form -->

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user location modal -->