<div class="modal" id="vacancy-archiving">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Архивация</div>

        <div class="modal__body">

            <form class="form" method="post">
                <div class="form__group">
                    <p>
                        Обращаем внимание на то, что все видеоответы, соответствующие данной вакансии, будут удалены.
                        Рекомендуем это сделать после выбора кандидата.
                    </p>
                </div><!-- form group -->

                <div class="form__footer">
                    <button class="btn btn--style--primary btn--size--regular">
                        <span class="btn__text">Архивировать</span>
                    </button>
                    <button type="button" class="btn btn--style--secondary btn--size--regular modal-close">
                        <span class="btn__text">Отменить</span>
                    </button>
                </div><!-- form footer-->
            </form><!-- form -->

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user position edit modal -->