<div class="modal" id="user-activity-field">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Сфера деятельности</div>

        <div class="modal__body">

            <ul class="action-list">
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        HR специалист
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        IT
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        Автобизнес
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        Административный персонал
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        Банки, инвестиции, лизинг
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        Гостиницы, рестораны, кафе
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        Государственные учреждения
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        Дизайн, графика, фото
                    </span>
                </li>
                <li class="action-list__item action-list__item--secondary" role="button" data-modal-id="user-activity-field-sub">
                    <span class="action-list__icon">
                        <i class="icon icon--size--sm icon--arrowangleright-16"></i>
                    </span>
                    <span class="action-list__text">
                        Закупки, снабжение
                    </span>
                </li>
            </ul><!-- action-list -->

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user-name modal -->