<div class="modal" id="registration">

    <div class="modal__title-controls">
        <button class="btn btn--size--regular btn--style--secondary modal-close">
            <i class="icon icon--size--sm icon--close-16 btn__icon"></i>
        </button>
    </div><!-- title -->

    <div class="modal__main">

        <div class="modal__heading h2">Vividi</div>

        <div class="modal__body">

            <div class="modal__login content-tabs content-tabs--sm">
                <div class="content-tabs__head">
                    <button class="content-tabs__btn" data-modal-id="login-alt">
                        <span class="content-tabs__btn-text">Вход</span>
                    </button>
                    <button class="content-tabs__btn content-tabs__btn--new" data-tab-active>
                        <span class="content-tabs__btn-text">Регистрация</span>
                    </button>
                </div><!-- content tabs head -->

                <div class="registration-options">

                    <div class="registration-options__item" data-modal-id="hr-registration">
                        <div class="registration-options__text">
                            <i class="registration-options__item-arrow icon icon--size--md icon--arrowright-48"></i>
                            <div class="registration-options__item-title">
                                HR
                            </div>
                            <div class="registration-options__item-subtitle">
                                Может выставлять вакансии от одной компании
                            </div>
                        </div>
                        <div class="registration-options__img">
                            <img class="registration-options__img-item" src="assets/img/login-form/01.png" alt="image">
                        </div>
                    </div><!-- registration options item-->

                    <div class="registration-options__item" data-modal-id="freelance-registration">
                        <div class="registration-options__text">
                            <i class="registration-options__item-arrow icon icon--size--md icon--arrowright-48"></i>
                            <div class="registration-options__item-title">
                                Фрилансер
                            </div>
                            <div class="registration-options__item-subtitle">
                                Может выставлять вакансии от разных компаний
                            </div>
                        </div>
                        <div class="registration-options__img">
                            <img class="registration-options__img-item" src="assets/img/login-form/02.png" alt="image">
                        </div>
                    </div><!-- registration options item-->

                </div><!-- registration options -->

            </div><!-- content tabs -->

            <div class="policy modal__policy">
                Выбирая способ авторизации, вы соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности</a>
            </div>

        </div><!-- body -->
    </div><!-- main -->

</div><!-- user-name modal -->