<section class="advantages-section landing__advantages-section">
    <div class="container advantages-section__container">
        <div class="advantages-section__holder">

            <div class="advantages-section__item">
                <img class="advantages-section__img" src="assets/img/landing/004.png" alt="image">
                <div class="advantages-section__text">
                    <div class="advantages-section__title">
                        Звільніть календар від зайвих зустрічей
                    </div>
                    <div class="advantages-section__desc">
                        Дивіться відеоінтерв'ю в зручний час і запрошуйте на співбесіду лише найцікавіших претендентів.
                    </div>
                </div>
            </div><!-- advantages item -->

            <div class="advantages-section__item">
                <div class="advantages-section__img advantages-section__img--anim1"></div>
                <div class="advantages-section__text">
                    <div class="advantages-section__title">
                        Обирайте серед мотивованих кандидатів
                    </div>
                    <div class="advantages-section__desc">
                        Ви отримаєте відгуки лише від тих, хто готовий записати відео — отже, дійсно хоче працювати у вас.
                    </div>
                </div>
            </div><!-- advantages item -->

            <div class="advantages-section__item">
                <img class="advantages-section__img" src="assets/img/landing/006.png" alt="image">
                <div class="advantages-section__text">
                    <div class="advantages-section__title">
                        Оцінюйте софт-скіли ще на етапі резюме
                    </div>
                    <div class="advantages-section__desc">
                        Відеоінтервʼю покаже, як кандидат розмовляє і поводиться перед камерою.
                    </div>
                </div>
            </div><!-- advantages item -->

        </div>
    </div>
</section><!-- advantages section -->