<section class="tariffs-section landing__tariffs-section">
    <div class="tariffs-section__holder">

        <div class="tariffs-section__head">
            <div class="tariffs-section__landing-heading landing-heading">
                <h2 class="landing-heading__title">
                    <span class="outline-text outline-text--accent">Тарифи</span> Vividi
                </h2>
                <div class="landing-heading__text">
                    Не треба опановувати складні програми — у Vividi є всі інструменти, щоб записати класне відеорезюме
                    за п’ять хвилин
                </div>
            </div>
        </div><!-- tariffs section head -->

        <div class="tariffs-section__tabs-head">
            <div class="tariffs-section__tabs-head-holder">
                <button class="tariffs-section__tabs-btn" data-tab-group="tariff" data-tab-anchor="month" data-tab-active>
                    <span class="content-tabs__btn-text">На місяць</span>
                </button>
                <button class="tariffs-section__tabs-btn" data-tab-group="tariff" data-tab-anchor="year">
                    <span class="content-tabs__btn-text">На рік</span>
                </button>
            </div>
        </div><!-- tariffs section tabs head -->

        <div class="tariffs-section__body" data-tab-group="tariff" data-tab-content-id="month">

            <div class="tariffs-section__item">
                <div class="balloon balloon--style--accent tariffs-section__balloon">
                    Фрілансер
                </div>
                <ul class="default-list tariffs-section__default-list">
                    <li class="default-list__item">3 компанії</li>
                    <li class="default-list__item">10 вакансій</li>
                    <li class="default-list__item">50 відгуків</li>
                    <li class="default-list__item">1 користувач</li>
                </ul>
                <button class="btn btn--size--regular btn--style--accent btn--style--rounded btn--fluid tariffs-section__btn" data-modal-id="registration">
                    <span class="btn__text">Обрати</span>
                    <i class="btn__icon icon icon--size--md icon--arrowright-48"></i>
                </button>
                <div class="tariffs-section__price">1 500 ₴ за місяць</div>
            </div><!-- tariffs section item -->

            <div class="tariffs-section__item">
                <div class="balloon balloon--style--primary tariffs-section__balloon">
                    Бізнес
                </div>
                <ul class="default-list tariffs-section__default-list">
                    <li class="default-list__item">10 компаній</li>
                    <li class="default-list__item">50 вакансій</li>
                    <li class="default-list__item">до 1000 відгуків</li>
                    <li class="default-list__item">архів вакансій</li>
                    <li class="default-list__item">3 користувачі</li>
                </ul>
                <button class="btn btn--size--regular btn--style--primary btn--style--rounded btn--fluid tariffs-section__btn" data-modal-id="registration">
                    <span class="btn__text">Обрати</span>
                    <i class="btn__icon icon icon--size--md icon--arrowright-48"></i>
                </button>
                <div class="tariffs-section__price">3 000 ₴ за місяць</div>
            </div><!-- tariffs section item -->

        </div><!-- tariffs section body -->

        <div class="tariffs-section__body" data-tab-group="tariff" data-tab-content-id="year">

            <div class="tariffs-section__item">
                <div class="balloon balloon--style--accent tariffs-section__balloon">
                    Фрілансер
                </div>
                <ul class="default-list tariffs-section__default-list">
                    <li class="default-list__item">3 компанії</li>
                    <li class="default-list__item">10 вакансій</li>
                    <li class="default-list__item">50 відгуків</li>
                    <li class="default-list__item">1 користувач</li>
                </ul>
                <button class="btn btn--size--regular btn--style--accent btn--style--rounded btn--fluid tariffs-section__btn" data-modal-id="registration">
                    <span class="btn__text">Обрати</span>
                    <i class="btn__icon icon icon--size--md icon--arrowright-48"></i>
                </button>
                <div class="tariffs-section__price">15 500 ₴ на рік</div>
            </div><!-- tariffs section item -->

            <div class="tariffs-section__item">
                <div class="balloon balloon--style--primary tariffs-section__balloon">
                    Бізнес
                </div>
                <ul class="default-list tariffs-section__default-list">
                    <li class="default-list__item">10 компаній</li>
                    <li class="default-list__item">50 вакансій</li>
                    <li class="default-list__item">до 1000 відгуків</li>
                    <li class="default-list__item">архів вакансій</li>
                    <li class="default-list__item">3 користувачі</li>
                </ul>
                <button class="btn btn--size--regular btn--style--primary btn--style--rounded btn--fluid tariffs-section__btn" data-modal-id="registration">
                    <span class="btn__text">Обрати</span>
                    <i class="btn__icon icon icon--size--md icon--arrowright-48"></i>
                </button>
                <div class="tariffs-section__price">30 250 ₴ на рік</div>
            </div><!-- tariffs section item -->

        </div><!-- tariffs section body -->

    </div>
</section>