<section class="main-section main-section--alt landing__main-section">
    <div class="main-section__holder">
        <div class="main-section__tabs">
            <span class="page-header__tabs-item page-header__tabs-item--active">Я роботодавець</span>
            <a href="#" class="page-header__tabs-item">Я шукаю роботу</a>
        </div>
        <div class="main-section__text">
            <div class="balloon main-section__balloon">Привіт, це Vividi &#128400;</div>
            <div class="main-section__title">
                Оптимізуйте найм за допомогою <span class="outline-text outline-text--primaryLighter">відеоінтерв'ю</span>
            </div>
            <div class="main-section__desc">
                <div class="main-section__desc-text">
                    Дивіться короткі відео від кандидатів та закривайте вакансії швидше
                </div>
                <button class="main-section__desc-btn btn btn--style--accent btn--size--regular btn--style--rounded"
                        data-modal-id="registration">
                    <span class="btn__text">Створити вакансію</span>
                    <span class="btn__icon icon icon--arrowright-48 icon--size--md"></span>
                </button>
            </div>
        </div>
        <div class="main-section__img">
            <video class="main-section__img-item" autoplay loop>
                <source src="assets/video/IMG_7431.mp4" type="video/mp4">
            </video>
        </div>
<!--        <div class="main-section__img">-->
<!--            <div class="main-section__chat">-->
<!--                <div class="balloon balloon&#45;&#45;style&#45;&#45;primary main-section__chat-balloon">Привет, меня зовут Леша</div>-->
<!--                <div class="balloon balloon&#45;&#45;style&#45;&#45;accent main-section__chat-balloon">Расскажи немного о себе</div>-->
<!--            </div>-->
<!--            <img class="main-section__img-item" src="/assets/img/landing/main-section.gif" alt="main section img">-->
<!--        </div>-->
    </div>
</section><!--main section-->