<section class="features-section landing__features-section">
    <div class="features-section__holder">
        <div class="features-section__head">
            <h2 class="features-section__landing-heading landing-heading">
                <span class="outline-text outline-text--accent">Створюй</span>
                відео без навичок монтажу
            </h2>
            <p class="features-section__subdesc">
                Не треба опановувати складні програми — у Vividi є всі інструменти,
                щоб записати класне відеорезюме за п’ять хвилин
            </p>
        </div>
        <div class="features-section__body">
            <div class="features-section__item features-section__item--filters">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Покращайзинг
                    </div>
                    <div class="features-section__item-desc">
                        Застосовуй фільтри та маски, щоб краще виглядати в кадрі
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-1.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--overwrite">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Перезапис фрагментів
                    </div>
                    <div class="features-section__item-desc">
                        Записуй наново не все відео, а лише потрібний фрагмент
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-2.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--questions">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Запитання-підказки
                    </div>
                    <div class="features-section__item-desc">
                        Відповідай на готові запитання, якщо не знаєш, про що говорити
                    </div>
                </div>
                <div class="features-section__item-balloon">
                    <div class="features-section__item-balloon-wrap">
                        <div class="balloon balloon--style--accent features-section__balloon">
                            <span class="balloon__text">Які твої сильні сторони?</span>
                        </div>
                    </div>
                    <div class="features-section__item-balloon-wrap">
                        <div class="balloon balloon--style--accent features-section__balloon">
                            <span class="balloon__text">Чим ти пишаєшся?</span>
                        </div>
                    </div>
                    <div class="features-section__item-balloon-wrap">
                        <div class="balloon balloon--style--accent features-section__balloon">
                            <span class="balloon__text">Найцікавіший проект?</span>
                        </div>
                    </div>
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--access">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Усі матеріали одним лінком
                    </div>
                    <div class="features-section__item-desc">
                        Надсилай роботодавцю один лінк на все: відео, резюме та портфоліо
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-3.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--storing">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Вічне зберігання резюме
                    </div>
                    <div class="features-section__item-desc">
                        Повертайся коли завгодно — Vividi збереже твої відео на хмарі
                    </div>
                </div>
                <div class="features-section__item-img">
                        <img class="features-section__item-img-item" srcset="assets/img/landing/feature-4-2.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--fragments">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Запис відео по фрагментах
                    </div>
                    <div class="features-section__item-desc">
                        Записуй відео не одним кадром, а відрізками, як у сторіз. Vividi сам їх змонтує.
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-5.png" alt="image">
                </div>
            </div><!-- features item -->

        </div>
    </div>
</section>