<section class="reviews-section landing__reviews-section">
    <div class="container reviews-section__container">

        <div class="reviews-section__heading">
            <h2 class="landing-heading reviews-section__landing-heading">А що кажуть работодавці?</h2>
            <div class="reviews-section__nav">
                <div class="reviews-section__nav-item reviews-section__nav-item--left">
                    <i class="icon icon--size--lg icon--arrowleft-48"></i>
                </div>
                <div class="reviews-section__nav-item reviews-section__nav-item--right">
                    <i class="icon icon--size--lg icon--arrowright-48"></i>
                </div>
            </div>
        </div>

        <div class="swiper reviews-section__slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide reviews-section__slide">
                    <div class="reviews-section__slide-heading">
                        <div class="reviews-section__slide-photo">
                            <img class="reviews-section__slide-logo" src="assets/img/landing/fb-logo.svg" alt="company logo">
                            <img class="reviews-section__slide-photo-item" src="assets/img/landing/reviewer-1.jpg" alt="author photo">
                        </div>
                        <div class="reviews-section__slide-name">Томер Коен</div>
                        <div class="reviews-section__slide-position">CPO Facebook</div>
                    </div>
                    <div class="reviews-section__slide-body">
                        За нашими даними, 80% HR-менеджерів вважають відеорезюме корисним для пошуку роботи. Вони
                        звертають увагу на відео, коли взаємодіють із кандидатом або перевіряють його.
                    </div>
                </div><!-- slide -->

                <div class="swiper-slide reviews-section__slide">
                    <div class="reviews-section__slide-heading">
                        <div class="reviews-section__slide-photo">
                            <img class="reviews-section__slide-logo" src="assets/img/landing/adobe-logo.svg" alt="company logo">
                            <img class="reviews-section__slide-photo-item" src="assets/img/landing/reviewer-2.jpg" alt="author photo">
                        </div>
                        <div class="reviews-section__slide-name">Томер Коен</div>
                        <div class="reviews-section__slide-position">CEO Adobe</div>
                    </div>
                    <div class="reviews-section__slide-body">
                        За нашими даними, 80% HR-менеджерів вважають відеорезюме корисним для пошуку роботи. Вони
                        звертають увагу на відео, коли взаємодіють із кандидатом або перевіряють його.
                    </div>
                </div><!-- slide -->

                <div class="swiper-slide reviews-section__slide">
                    <div class="reviews-section__slide-heading">
                        <div class="reviews-section__slide-photo">
                            <img class="reviews-section__slide-logo" src="assets/img/landing/linkedin-logo.svg" alt="company logo">
                            <img class="reviews-section__slide-photo-item" src="assets/img/landing/reviewer-3.jpg" alt="author photo">
                        </div>
                        <div class="reviews-section__slide-name">Томер Коен</div>
                        <div class="reviews-section__slide-position">CEO LinkedIn</div>
                    </div>
                    <div class="reviews-section__slide-body">
                        За нашими даними, 80% HR-менеджерів вважають відеорезюме корисним для пошуку роботи. Вони
                        звертають увагу на відео, коли взаємодіють із кандидатом або перевіряють його.
                    </div>
                </div><!-- slide -->

                <div class="swiper-slide reviews-section__slide">
                    <div class="reviews-section__slide-heading">
                        <div class="reviews-section__slide-photo">
                            <img class="reviews-section__slide-logo" src="assets/img/landing/fb-logo.svg" alt="company logo">
                            <img class="reviews-section__slide-photo-item" src="assets/img/landing/reviewer-1.jpg" alt="author photo">
                        </div>
                        <div class="reviews-section__slide-name">Томер Коен</div>
                        <div class="reviews-section__slide-position">CPO Facebook</div>
                    </div>
                    <div class="reviews-section__slide-body">
                        За нашими даними, 80% HR-менеджерів вважають відеорезюме корисним для пошуку роботи. Вони
                        звертають увагу на відео, коли взаємодіють із кандидатом або перевіряють його.
                    </div>
                </div><!-- slide -->

            </div>
        </div>

    </div>
</section><!-- reviews section -->