<section class="hiw-section landing__hiw-section">
    <div class="hiw-section__holder">

        <div class="hiw-section__head">
            <div class="hiw-section__landing-heading landing-heading">
                <h2 class="landing-heading__title">
                    Як <span class="outline-text outline-text--accent">працює</span> Vividi
                </h2>
                <div class="landing-heading__text">
                    Не треба опановувати складні програми — у Vividi є всі інструменти, щоб записати класне відеорезюме
                    за п’ять хвилин
                </div>
                <div class="landing-heading__controls">
                    <button class="btn btn--style--accent btn--size--regular btn--style--rounded" data-modal-id="registration">
                        <span class="btn__text">Створити вакансію</span>
                        <i class="icon icon--size--md icon--arrowright-48 btn__icon"></i>
                    </button>
                </div>
            </div>
        </div><!-- tariffs section head -->

        <div class="hiw-section__body">
            <div class="hiw-section__slider swiper">
                <div class="swiper-wrapper hiw-section__swiper-wrapper">
                    <div class="swiper-slide hiw-section__slide">
                        <div class="hiw-section__slide-number">1</div>
                        <div class="hiw-section__slide-title">Створіть вакансію</div>
                        <div class="hiw-section__slide-text">Та придумайте питання для кандидатів</div>
                    </div>
                    <div class="swiper-slide hiw-section__slide">
                        <div class="hiw-section__slide-number">2</div>
                        <div class="hiw-section__slide-title">Поділіться лінком на вакансію</div>
                        <div class="hiw-section__slide-text">Де завгодно: на вашому сайті, в соцмережах чи на сайті з вакансіями.</div>
                    </div>
                    <div class="swiper-slide hiw-section__slide">
                        <div class="hiw-section__slide-number">3</div>
                        <div class="hiw-section__slide-title">Кандидати знімуть відео про себе</div>
                        <div class="hiw-section__slide-text">І дадуть відповіді на ваші питання.</div>
                    </div>
                    <div class="swiper-slide hiw-section__slide">
                        <div class="hiw-section__slide-number">4</div>
                        <div class="hiw-section__slide-title">Дивіться відгуки</div>
                        <div class="hiw-section__slide-text">Та кличте на наступний етап цікавих кандидатів.</div>
                    </div>
                </div>
            </div>
            <div class="hiw-section__nav">
                <div class="hiw-section__nav-item hiw-section__nav-item--left">
                    <i class="icon icon--size--lg icon--arrowleft-48"></i>
                </div>
                <div class="hiw-section__nav-item hiw-section__nav-item--right">
                    <i class="icon icon--size--lg icon--arrowright-48"></i>
                </div>
            </div>
        </div><!-- tariffs section body -->

    </div>
</section>