<section class="advantages-section landing__advantages-section">
    <div class="container advantages-section__container">
        <div class="advantages-section__holder">

            <div class="advantages-section__item">
                <img class="advantages-section__img" src="assets/img/landing/001.png" alt="image">
                <div class="advantages-section__text">
                    <div class="advantages-section__title">
                        Покажи, як поводишся перед камерою
                    </div>
                    <div class="advantages-section__desc">
                        Маст для акторів, моделей та телевізійників.
                        Але й офісним працівникам стане у пригоді, бо відеодзвінки — наша нова реальність.
                    </div>
                </div>
            </div><!-- advantages item -->

            <div class="advantages-section__item">
                <img class="advantages-section__img" src="assets/img/landing/002.png" alt="image">
                <div class="advantages-section__text">
                    <div class="advantages-section__title">
                        Виділися з-поміж інших кандидатів
                    </div>
                    <div class="advantages-section__desc">
                        Відеорезюме допоможе привернути увагу роботодавців.
                        Що цікавіше ти презентуєш себе, то вищий шанс потрапити на співбесіду.
                    </div>
                </div>
            </div><!-- advantages item -->

            <div class="advantages-section__item">
                <img class="advantages-section__img" src="assets/img/landing/003.png" alt="image">
                <div class="advantages-section__text">
                    <div class="advantages-section__title">
                        Не пиши про себе — покажи себе
                    </div>
                    <div class="advantages-section__desc">
                        Можна написати сто слів про те, що ти комунікабельна людина з палкими очима.
                        А можна зняти відео, і роботодавці побачать це на власні очі.
                    </div>
                </div>
            </div><!-- advantages item -->

        </div>
    </div>
</section><!-- advantages section -->