<section class="main-section landing__main-section">
    <div class="main-section__holder">
        <div class="main-section__text">
            <div class="balloon main-section__balloon">Привіт, це Vividi &#128400;</div>
            <div class="main-section__title">
                Безкоштовний сервіс для створення <span class="outline-text outline-text--accent">відеорезюме</span>
            </div>
            <div class="main-section__desc">
                <div class="main-section__desc-text">
                    Зніми відео про себе, щоб роботодавці тебе помітили
                </div>
                <button class="main-section__desc-btn btn btn--style--accent btn--size--regular btn--style--rounded"
                        data-modal-id="login">
                    <span class="btn__text">Створити відеорезюме</span>
                    <span class="btn__icon icon icon--arrowright-48 icon--size--md"></span>
                </button>
            </div>
        </div>
        <div class="main-section__img">
            <img class="main-section__img-item" src="assets/img/landing/main-section.gif" alt="main section img">
        </div>
    </div>
</section><!--main section-->