<section class="features-section features-section--alt landing__features-section">
    <div class="container features-section__container">
        <div class="features-section__body">

            <div class="features-section__head features-section__head--interior">
                <div class="landing-heading">
                    <h2 class="landing-heading__title">
                        <span class="outline-text outline-text--accent">Автоматизуйте</span>
                        процес найму
                    </h2>
                    <div class="landing-heading__text text-node text-node--color--secondaryDarker3">
                        Дивіться короткі відео від кандидатів та закривайте вакансії швидше
                    </div>
                </div>
            </div><!-- features section head -->

            <div class="features-section__item features-section__item--design">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Стильний дизайн вакансій
                    </div>
                    <div class="features-section__item-desc">
                        Вакансії, оформлені у вашому стилі, привертають увагу і посилюють HR-бренд
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-7.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--invitation">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Запрошення записати відео
                    </div>
                    <div class="features-section__item-desc">
                        Звідки б не прийшов кандидат, за лінком він зможе зняти відео
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-5.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--one-link">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Один лінк — усе про вакансію
                    </div>
                    <div class="features-section__item-desc">
                        Опис вимог, контакти, питання для кандидатів в одному місці
                    </div>
                </div>
                <div class="features-section__info-balloons">
                    <div class="features-section__info-balloons-item">UI дизайнер</div>
                    <div class="features-section__info-balloons-item">від 1 до 3 років досвіду</div>
                    <div class="features-section__info-balloons-item">Віддалено / Київ</div>
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--reply-storing">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Зберігання відгуків протягом місяця
                    </div>
                    <div class="features-section__item-desc">
                        За цей час ви встигнете обговорити кандидатів з командою
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-9.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--custom-questions">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Кастомні питання до кандидатів
                    </div>
                    <div class="features-section__item-desc">
                        Ставте питання, важливі для вас, і отримуйте відповіді саме на них
                    </div>
                </div>
                <div class="balloon balloon--style--accent features-section__balloon">
                    <span class="balloon__text">На яких конференціях ви були?</span>
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--time-management">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Налаштування часу на відповідь
                    </div>
                    <div class="features-section__item-desc">
                        Поставте ліміт на довжину запису, щоб не гаяти час на довгі відео
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-6.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--all-in-one">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Усі відгуки в одному місці
                    </div>
                    <div class="features-section__item-desc">
                        Усі отримані відеоінтервʼю зібрані під вакансією
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-10.png" alt="image">
                </div>
            </div><!-- features item -->

            <div class="features-section__item features-section__item--statistics">
                <div class="features-section__item-text">
                    <div class="features-section__item-title">
                        Статистика кандидатів
                    </div>
                    <div class="features-section__item-desc">
                        Відстежуйте, скільки прийшло відгуків і з яких джерел
                    </div>
                </div>
                <div class="features-section__item-img">
                    <img class="features-section__item-img-item" src="assets/img/landing/feature-8.png" alt="image">
                </div>
            </div><!-- features item -->

        </div>
    </div>
</section>