<div class="vacancy-details" id="vacancy-details">

    <div class="vacancy-details__inner">
        <div class="vacancy-details__controls">
            <button class="btn btn--size--lg vacancy-details__close">
                <i class="icon icon--size--lg icon--close-48 btn__icon"></i>
            </button>
        </div><!-- title -->

        <div class="vacancy-details__body">

            <div class="grid grid--on-lg">

                <div class="grid__col--4">

                    <article class="content-tile content-tile--style--primary content-tile--alt2 vacancy-details__content-tile">
                        <div class="candidate-card">

                            <div class="candidate-card__body">

                                <div class="candidate-card__company name-balloon name-balloon--primary-lighter">
                                    <div class="name-balloon__img name-balloon__img--briefcase">
                                        <img class="name-balloon__img-item" src="assets/img/temp/company-logo.jpg" alt="Teradek">
                                    </div>
                                    <div class="name-balloon__title">Teradek</div>
                                </div>

                                <div class="candidate-card__title">
                                    <div class="candidate-card__name h1">Продуктовый дизайнер</div>
                                    <div class="candidate-card__salary">3 000 - 4 500 $</div>
                                </div>

                                <div class="candidate-card__desk">
                                    Мы ищем Product Designer, который готов(а) сделать свой вклад в разработку приложений № 1 в
                                    мире в Health&Fitness направлении.
                                </div>

                                <div class="candidate-card__fields candidate-card__fields--hor">
                                    <div class="input-row input-row--style--outline-white candidate-card__input-row">
                                        <div class="input-row__title">город</div>
                                        <input class="input-text input-row__input-text" readonly type="text" value="Киев">
                                    </div><!-- input row -->
                                    <div class="input-row input-row--style--outline-white candidate-card__input-row">
                                        <div class="input-row__title">тип занятости</div>
                                        <input class="input-text input-row__input-text" readonly type="text" value="полная">
                                    </div><!-- input row -->
                                    <div class="input-row input-row--style--outline-white candidate-card__input-row">
                                        <div class="input-row__title">опыт работы</div>
                                        <input class="input-text input-row__input-text" readonly type="text" value="от 2-х лет">
                                    </div><!-- input row -->
                                </div><!-- candidate card fields -->

                            </div><!-- candidate card body -->

                        </div><!-- candidate card -->

                    </article><!-- content tile -->

                    <article class="content-tile content-tile--alt3 vacancy-details__content-tile">
                        <giv class="grid grid--on-xs">

                            <div class="grid__col--12">
                                <a href="#" class="contact-btn contact-btn--fluid contact-btn--style--primary">
                                    <i class="icon icon--size--md icon--phone-24 contact-btn__icon"></i>
                                    <span class="contact-btn__text">+38 063 609 07 53</span>
                                </a>
                            </div>

                            <div class="grid__col--12">
                                <a href="#" class="contact-btn contact-btn--fluid contact-btn--style--primary">
                                    <i class="icon icon--size--md icon--mail-24 contact-btn__icon"></i>
                                    <span class="contact-btn__text">dementeevski@gmail.com</span>
                                </a>
                            </div>

                            <div class="grid__col--12">
                                <a href="#" class="contact-btn contact-btn--fluid contact-btn--style--primary">
                                    <i class="icon icon--size--md icon--link-24 contact-btn__icon"></i>
                                    <span class="contact-btn__text">teradek.com</span>
                                </a>
                            </div>

                            <div class="grid__col--6">
                                <a href="#" class="contact-btn contact-btn--fluid contact-btn--style--blue">
                                    <i class="icon icon--size--md icon--facebook-24 contact-btn__icon"></i>
                                    <span class="contact-btn__text">@k_dementeev</span>
                                </a>
                            </div>

                            <div class="grid__col--6">
                                <a href="#" class="contact-btn contact-btn--fluid contact-btn--style--muted-red">
                                    <i class="icon icon--size--md icon--instagram-24 contact-btn__icon"></i>
                                    <span class="contact-btn__text">@dement_k</span>
                                </a>
                            </div>

                            <div class="grid__col--6">
                                <a href="#" class="contact-btn contact-btn--fluid contact-btn--style--light-blue">
                                    <i class="icon icon--size--md icon--telegram-24 contact-btn__icon"></i>
                                    <span class="contact-btn__text">@k_dementeev</span>
                                </a>
                            </div>

                        </giv><!-- grid -->
                    </article><!-- content tile -->

                </div>

                <div class="grid__col--8">

                    <article class="content-tile content-tile--alt2 vacancy-details__content-tile">

                        <div class="balloon balloon--style--primary vacancy-details__balloon">
                            что ожидаем от кандидата
                        </div>

                        <ul class="default-list">
                            <li class="default-list__item">
                                Опыт в дизайне mobile приложений
                            </li>
                            <li class="default-list__item">
                                Понимание основ проектирования UX дизайна
                            </li>
                            <li class="default-list__item">
                                Уверенное владение Figma
                            </li>
                            <li class="default-list__item">
                                Ориентация в гайдлайнах Android/iOS и постоянное отслеживание апдейтов
                            </li>
                            <li class="default-list__item">
                                Понимание процесса разработки продуктов
                            </li>
                            <li class="default-list__item">
                                Английский на уровне Intermediate
                            </li>
                        </ul><!-- default-list -->

                    </article><!-- content tile -->

                    <article class="content-tile content-tile--alt2 vacancy-details__content-tile">

                        <div class="balloon balloon--style--primary vacancy-details__balloon">
                            обязанности
                        </div>

                        <ul class="default-list">
                            <li class="default-list__item">
                                Проектирование UX/UI дизайна для Health & Fitness продуктов
                            </li>
                            <li class="default-list__item">
                                Анализ дизайна и поиск путей его оптимизации на основе продуктовых метрик
                            </li>
                            <li class="default-list__item">
                                А/В тестирование дизайна
                            </li>
                            <li class="default-list__item">
                                Тесное сотрудничество с командой разработчиков и тестеров
                            </li>
                            <li class="default-list__item">
                                Research рынка мобильных продуктов
                            </li>
                            <li class="default-list__item">
                                Создание прототипов дизайна и тестирования на пользователях
                            </li>
                        </ul><!-- default-list -->

                    </article><!-- content tile -->

                    <article class="content-tile content-tile--alt2 vacancy-details__content-tile">

                        <div class="balloon balloon--style--primary vacancy-details__balloon">
                            что ты получишь
                        </div>

                        <ul class="default-list">
                            <li class="default-list__item">
                                Проектирование UX/UI дизайна для Health & Fitness продуктов
                            </li>
                            <li class="default-list__item">
                                Анализ дизайна и поиск путей его оптимизации на основе продуктовых метрик
                            </li>
                            <li class="default-list__item">
                                А/В тестирование дизайна
                            </li>
                            <li class="default-list__item">
                                Тесное сотрудничество с командой разработчиков и тестеров
                            </li>
                            <li class="default-list__item">
                                Создание прототипов дизайна и тестирования на пользователях
                            </li>
                        </ul><!-- default-list -->

                    </article><!-- content tile -->

                </div>

            </div>

        </div><!-- body -->
    </div><!-- inner -->
</div><!-- vacancy details -->