<section class="video-tiles replace-elements">

    <div class="video-tiles__item video-tiles__item--solid replace-elements__item" data-modal-id="vacancy-question-edit">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left replace-elements__arr-left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right replace-elements__arr-right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status video-tiles__status--blink">
            <span class="video-tiles__status-text">Вопрос №1</span>
            <span class="video-tiles__status-text video-tiles__status-text--hidden">03:00</span>
        </div>
        <div class="video-tiles__title">Расскажи немного о себе</div>
    </div><!--video tiles item-->

    <div class="video-tiles__item video-tiles__item--solid replace-elements__item" data-modal-id="vacancy-question-edit">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left replace-elements__arr-left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right replace-elements__arr-right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status video-tiles__status--blink">
            <span class="video-tiles__status-text">Вопрос №2</span>
            <span class="video-tiles__status-text video-tiles__status-text--hidden">03:00</span>
        </div>
        <div class="video-tiles__title">Опыт работы в Fintech</div>
    </div><!--video tiles item-->

    <div class="video-tiles__item video-tiles__item--solid replace-elements__item" data-modal-id="vacancy-question-edit">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left replace-elements__arr-left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right replace-elements__arr-right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status video-tiles__status--blink">
            <span class="video-tiles__status-text">Вопрос №3</span>
            <span class="video-tiles__status-text video-tiles__status-text--hidden">03:00</span>
        </div>
        <div class="video-tiles__title">Почему дизайн?</div>
    </div><!--video tiles item-->

    <div class="video-tiles__item video-tiles__item--solid replace-elements__item" data-modal-id="vacancy-question-edit">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left replace-elements__arr-left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right replace-elements__arr-right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status video-tiles__status--blink">
            <span class="video-tiles__status-text">Вопрос №4</span>
            <span class="video-tiles__status-text video-tiles__status-text--hidden">03:00</span>
        </div>
        <div class="video-tiles__title">Работа в команде?</div>
    </div><!--video tiles item-->

    <div class="video-tiles__item video-tiles__item--solid replace-elements__item" data-modal-id="vacancy-question-edit">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left replace-elements__arr-left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right replace-elements__arr-right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status video-tiles__status--blink">
            <span class="video-tiles__status-text">Вопрос №5</span>
            <span class="video-tiles__status-text video-tiles__status-text--hidden">03:00</span>
        </div>
        <div class="video-tiles__title">Сильные стороны</div>
    </div><!--video tiles item-->

    <div class="video-tiles__item replace-elements__item" data-modal-id="vacancy-question-edit">
        <div class="video-tiles__status">
            <i class="icon icon--size--sm icon--plus-16 video-tiles__status-icon"></i>
            <span class="video-tiles__status-text">добавить</span>
        </div>
    </div><!--video tiles item-->

</section><!--video tiles-->