<div class="video-slider video-holder__content">
    <div class="video-slider__slide">
        <div class="video-slider__video-canvas video-canvas">
            <div class="balloon balloon--style--accent video-canvas__balloon">Расскажу немного о себе</div>
            <video class="video-canvas__item" controls autoplay="true" loop>
                <source src="assets/video/02.mp4" type="video/mp4" /></source>
                <source src="assets/video/02.ogv" type="video/ogg"/></source>
                You need an HTML 5-capable browser.
            </video>
        </div>
    </div><!--video slide-->
</div><!--video slider-->