<section class="video-tiles">

    <a href="#" class="video-tiles__item video-tiles__item--filled">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status">
            <span class="video-tiles__status-text">03:00</span>
        </div>
        <div class="video-tiles__title">Расскажи немного о себе</div>
    </a><!--video tiles item-->

    <a href="#" class="video-tiles__item">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status">
            <i class="icon icon--size--sm icon--plus-16 video-tiles__status-icon"></i>
            <span class="video-tiles__status-text">снять</span>
        </div>
        <div class="video-tiles__title">Расскажи немного о себе</div>
    </a><!--video tiles item-->

    <a href="#" class="video-tiles__item video-tiles__item--hidden">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status">
            <span class="video-tiles__status-text">cкрыто</span>
        </div>
        <div class="video-tiles__title">Расскажи немного о себе</div>
    </a><!--video tiles item-->

    <a href="#" class="video-tiles__item">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status">
            <i class="icon icon--size--sm icon--plus-16 video-tiles__status-icon"></i>
            <span class="video-tiles__status-text">снять</span>
        </div>
        <div class="video-tiles__title">Расскажи немного о себе</div>
    </a><!--video tiles item-->

    <a href="#" class="video-tiles__item">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status">
            <i class="icon icon--size--sm icon--plus-16 video-tiles__status-icon"></i>
            <span class="video-tiles__status-text">снять</span>
        </div>
        <div class="video-tiles__title">Расскажи немного о себе</div>
    </a><!--video tiles item-->

    <a href="#" class="video-tiles__item">
        <div class="video-tiles__nav-btn video-tiles__nav-btn--left" role="button">
            <i class="icon icon--size--sm icon--arrowangleleft-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить левее</span>
        </div>

        <div class="video-tiles__nav-btn video-tiles__nav-btn--right" role="button">
            <i class="icon icon--size--sm icon--arrowangleright-16 video-tiles__nav-btn-icon"></i>
            <span class="video-tiles__nav-btn-text">Переместить правее</span>
        </div>

        <div class="video-tiles__status">
            <i class="icon icon--size--sm icon--plus-16 video-tiles__status-icon"></i>
            <span class="video-tiles__status-text">снять</span>
        </div>
        <div class="video-tiles__title">Расскажи немного о себе</div>
    </a><!--video tiles item-->

</section><!--video tiles-->