.employer-cabinet{

  &__sb-nav{
    padding: .8rem;
    border-radius: 2.4rem;
    background-color: $white;
    margin: 0 0 .8rem;

    @include media(">=lg"){
      padding: 1.6rem;
      margin: 0;
    }
  }

  &__content-tile{
    margin: 0 0 .8rem;

    @include media(">=lg"){
      margin: 0 0 1.6rem;
    }
  }

  &__controls-bar .btn__text{
    display: none;

    @include media(">=md"){
      display: block;
    }
  }

  &__socials-btn{
    justify-content: flex-start;
    margin: 0 0 .8rem;

    &:last-child{
      margin: 0;
    }

    @include media(">=lg"){
      margin: 0 0 1.2rem;
    }

    .btn__text{
      font-weight: 500;
    }
  }
}