.profile{

  &__video{
    margin: 0 0 .8rem;
    position: relative;

    @include media(">=lg"){
      margin: 0;
    }

    .video-counter{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      color: rgba($white, .48);
    }

    &--fixed{
      @include media(">=lg") {
        position: fixed;
        width: calc(((100% - 6rem - 17.6rem) / 12) * 4 + 4.8rem);
      }

      @include media(">=xl") {
        width: calc(((113.4rem - 17.6rem) / 12) * 4 + 4.8rem);
      }

      .video-holder__content{
        @include media(">=lg"){
          max-width: none;
          height: 80.5vh;
          max-height: 71.2rem;
        }
      }
    }
  }

  &__video-slider{
    margin: 0 0 .8rem;

    @include media(">=lg") {
      margin: 0 0 1.6rem;
    }
  }

  &__video-holder{
    position: relative;
    margin: 0 0 .8rem;

    @include media(">=lg"){
      margin:  0 0 1.6rem;

      &:last-child{
        margin: 0;
      }
    }
  }

  &__content-wrapper{
    @include media(">=lg"){
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__content{
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__controls-bar{
    order: -1;
    margin: 0 0 .8rem;

    @include media(">=lg"){
      order: unset;
      margin: 0;
    }
  }

  &__content-tile{
    flex: 1 0 auto;
    margin-bottom: .8rem;

    @include media(">=lg"){
      margin-bottom: 1.6rem;
    }

    .video-counter{
      margin: auto 0;
    }
  }

  &__user-info{
    margin: 0 -.8rem .8rem;
    padding: 0 .8rem;

    @include media(">=sm"){
      margin: 0 -1.6rem .8rem;
      padding: 0 1.6rem;
    }

    @include media(">=md"){
      margin: 0 -3rem .8rem;
      padding: 0 3rem;
    }

    @include media(">=lg"){
      margin: 0 0 1.6rem;
      padding: 0;
    }
  }
}