<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Freevac</title>
</head>

<body>

<div class="page">

    <main class="page__content content content--col-2">
        <div class="container content__container content__container--col-2">

            <aside class="content__aside">
                1
            </aside>

            <div class="content__main">
                {{> body }}
            </div>

        </div>
    </main><!-- content -->

    {{> footer }}

</div><!-- page -->

<script src="assets/js/app.js"></script>
</body>
</html>