<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Freevac</title>
</head>

<body>

{{> header }}

<main class="page-content">
    <div class="container">

        <div class="profile page-content__profile">

            <div class="profile__video">

                <div class="video-slider">
                    <div class="video-slider__slide">
                        <div class="video-slider__holder">
                            <div class="balloon balloon--style--accent video-slider__balloon">Расскажу немного о себе</div>
                            <video class="video-slider__item" controls autoplay="true" loop>
                                <source src="assets/video/02.mp4" type="video/mp4" /></source>
                                <source src="assets/video/02.ogv" type="video/ogg"/></source>
                                You need an HTML 5-capable browser.
                            </video>
                        </div>
                    </div><!--video slide-->
                </div><!--video slider-->

                <div class="reactions">
                    reactions
                </div>

            </div><!--video-->

            <div class="profile__info">
                {{> body }}
            </div>

        </div><!--profile layout-->

    </div>
</main><!--page content-->

{{> footer }}

<script src="assets/js/app.js"></script>
</body>
</html>