<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Vividi</title>
</head>

<body>

{{> header-employer }}

<main class="page-content">
    <div class="container">

        <div class="employer-cabinet page-content__employer-cabinet">

            {{> body }}

        </div><!--employer page layout-->
    </div><!--container-->
</main><!--page content-->

{{> footer }}

{{> modal-email-edit }}
{{> modal-contacts-add }}
{{> modal-contacts-add-details }}
{{> modal-logo-loading}}
{{> modal-login-edit}}
{{> modal-password-edit}}
{{> modal-position}}
{{> modal-vacancy-about}}
{{> modal-activity-field}}
{{> modal-activity-field-sub}}
{{> modal-vacancy-experience-edit}}
{{> modal-vacancy-location}}
{{> modal-employment}}
{{> modal-salary}}
{{> modal-vacancy-question-edit}}
{{> modal-vacancy-requirement-edit}}
{{> modal-vacancy-requirement-add}}
{{> modal-vacancy-duty-edit}}
{{> modal-vacancy-duty-add}}
{{> modal-vacancy-condition-edit}}
{{> modal-vacancy-condition-add}}

<script src="assets/js/swiper.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>