<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Vividi</title>
</head>

<body>

{{> header-landing }}

<main class="page-content">
    <div class="landing page-content__landing">

        {{> body }}

    </div><!--landing layout-->
</main>

{{> footer-alt }}

{{> modal-login-alt }}
{{> modal-registration }}
{{> modal-freelance-registration }}
{{> modal-hr-registration }}
{{> modal-hr-registration2 }}

<script src="assets/js/swiper.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>