<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Freevac</title>
</head>

<body>

{{> header }}

<main class="page-content">
    <div class="container">

        <div class="profile page-content__profile">
            <div class="grid grid--on-lg">

                <div class="grid__col--4">
                    <div class="profile__video" id="profile-video">

                        {{> video-slider }}
                        
                        <div class="emoji-bar">
                            <button class="emoji-bar__item">&#128525;</button>
                            <button class="emoji-bar__item">&#129303;</button>
                            <button class="emoji-bar__item">&#128512;</button>
                            <button class="emoji-bar__item">&#129312;</button>
                        </div>

                    </div>
                </div><!--video-->

                <div class="grid__col--8">

                    <div class="profile__content">
                        {{> body }}
                    </div>

                </div><!--profile content-->

            </div><!--grid-->

        </div><!--profile layout-->
    </div><!--container-->
</main><!--page content-->

{{> footer }}

<script src="assets/js/app.js"></script>
</body>
</html>