<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Freevac</title>
</head>

<body>

{{> header }}

<main class="page-content">
    <div class="container">

        <div class="navbar page-content__navbar">
            <button class="btn btn--style--secondary btn--size--regular">
                <i class="icon icon--size--sm icon--arrowangleleft-16 btn__icon"></i>
                <span class="btn__text">Назад</span>
            </button>
        </div><!--navbar-->

        <div class="profile page-content__profile">

            {{> body }}

        </div><!--profile layout-->
    </div><!--container-->
</main><!--page content-->

{{> footer }}

{{> modal-question }}
{{> modal-delete }}
{{> modal-hide }}

<script src="assets/js/app.js"></script>
</body>
</html>