<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Freevac</title>
</head>

<body>

{{> header }}

<main class="page-content">
    <div class="container">

        <div class="navbar page-content__navbar">
            <button class="btn btn--style--secondary btn--size--regular">
                <i class="icon icon--size--sm icon--arrowangleleft-16 btn__icon"></i>
                <span class="btn__text">Назад</span>
            </button>
        </div><!--navbar-->

        <div class="profile page-content__profile">
            <div class="grid grid--on-lg">

                <div class="grid__col--4">
                    <div class="profile__video" id="profile-video">
                        <div class="video-counter--countdown" data-counter="3" id="video-countdown">03</div>
                        <div class="profile__video-holder video-holder">
                            {{> video-canvas }}
                        </div>
                    </div>
                </div><!--video-->

                <div class="grid__col--8">
                    <div class="profile__content">
                        {{> body }}
                    </div>
                </div><!--profile content-->

            </div><!--grid-->
        </div><!--profile layout-->
    </div><!--container-->
</main><!--page content-->

{{> footer }}

{{> modal-question }}

<script src="assets/js/app.js"></script>
</body>
</html>