<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Freevac</title>
</head>

<body>

{{> header }}

<main class="page-content">
    <div class="container">

        <div class="profile page-content__profile">

            {{> body }}

        </div><!--profile layout-->
    </div><!--container-->
</main><!--page content-->

{{> footer }}

{{> modal-name }}
{{> modal-age }}
{{> modal-about }}
{{> modal-location }}
{{> modal-email-edit }}
{{> modal-experience-edit }}
{{> modal-experience-add }}
{{> modal-cvv-portfolio }}
{{> modal-contacts-add }}
{{> modal-contacts-add-details }}
{{> modal-activity-field }}
{{> modal-activity-field-sub }}

<script src="assets/js/app.js"></script>
</body>
</html>