<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>Vividi</title>
</head>

<body>

{{> header-employee }}

<main class="page-content">
    <div class="container">

        <div class="profile page-content__profile">

            {{> body }}

        </div><!--profile layout-->
    </div><!--container-->
</main><!--page content-->

{{> footer }}

{{> modal-name }}
{{> modal-age }}
{{> modal-about }}
{{> modal-location }}
{{> modal-email-edit }}
{{> modal-experience-edit }}
{{> modal-experience-add }}
{{> modal-cvv-portfolio }}
{{> modal-contacts-add }}
{{> modal-contacts-add-details }}
{{> modal-activity-field }}
{{> modal-activity-field-sub }}
{{> modal-position }}

{{> modal-vacancy-about}}
{{> modal-activity-field}}
{{> modal-activity-field-sub}}
{{> modal-vacancy-experience-edit}}
{{> modal-vacancy-location}}
{{> modal-employment}}
{{> modal-salary}}
{{> modal-vacancy-question-edit}}
{{> modal-vacancy-requirement-edit}}
{{> modal-vacancy-requirement-add}}
{{> modal-vacancy-duty-edit}}
{{> modal-vacancy-duty-add}}
{{> modal-vacancy-condition-edit}}
{{> modal-vacancy-condition-add}}
{{> modal-cv-send }}

<script src="assets/js/swiper.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>